/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fdd8bb;
    border-radius: 2em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #452a0f;
    border-radius: 10px;
}


body {
    padding: 0;
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="48" viewBox="0 0 24 24"><path fill="%23E3B882FF" stroke="%23452A0FFF" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'), auto;
    min-height: 100vh;
    justify-content: center;
    background-color: #e3b882;
    opacity: 1;
    background-image: radial-gradient(#b56422 1px, #e3b882 1px);
    background-size: 20px 20px;
}

h1 {
    margin-top: 0;
    margin-right: 0.8em;
    text-align: center;
    font-optical-sizing: auto;
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 4em;
    color: #cd6d04;
    background-color: white;
    justify-content: center;

}

img {
    max-width: 100%;
    height: auto;
    transition: all .2s ease-in-out;
    opacity: 1;
    border: 0.1em solid #dcc8c0;
}

a {
    color: inherit;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
    margin-bottom: .5em;
    font-size: 1em;
    font-weight: 500;

}
/*Load image location*/
.load{
    scale: 90%;
    opacity: 50%;
    justify-content: center;
    margin-left: 25%;
    border-style: none;

}
/*View control*/
.container {
    width: 100%;
    max-width: 1024px;
    padding: 0 1em;
    margin: 0 auto;
}

/*Grid order the images*/
.images {
    list-style: none;
    padding: 0.3em;
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 3em;
}

.imageTitle {
    margin: .6em 0 0;
    font-family: "Shadows Into Light", cursive;
    text-align: center;
    color:black;
    font-weight: bold;
    font-size: 1.08em;
}

/*Polaroid shape styling*/
li {
    border-radius: 4px;
    background-color: white;
    justify-content: center;
    padding: 0.4em;
    border: 0.2em solid #dcc8c0;
    max-width: fit-content;

}
/*Hover emphasis for easier targeting*/
li:hover {
    opacity: 0.8;
    border: 0.5em solid rgb(213, 145, 23);
}

/*Window size accommodation*/
@media (max-width: 1090px) {
    /*Location fix*/
    .load{
        scale: 70%;
    }
}
@media (max-width: 1000px) {
    .load{
        scale: 60%;
        margin-left: 15%;
    }
}
/*Layout adjustment for mobile screen size*/
@media (max-width: 600px) {
    body{
        margin: -2em;
        justify-content: center;
    }
    .images {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    h1{
        margin: 0;
    }
    .load{
        scale: 50%;
        margin-left: 0;
    }
}